<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<button-cpnt title="Button:"></button-cpnt>
			<button-cpnt title="Button:"></button-cpnt>
			<div>
				<li-cpnt></li-cpnt>
			</div>
		</div>
		<script type="text/javascript">
			// 组件初始
			Vue.component('button-cpnt',{
				props:['title'],
				data:function(){
					return {
						count : 0
					}
				},
				methods:{
					clickCount() {
						this.count ++
					}
				},
				template:'<button @click="clickCount">{{title}}点击第{{count}}次</button>'
			})
			Vue.component('li-cpnt',{
				data: function(){
					return {
						chars :[0,1,2,3,4,5,6,7,8,9],
						active: 'active',
						current:'',
						newList:[]
					}
				},
				methods:{
					clickFn(index) {
						if(this.current === index){
							return
						}
						this.current = index
						console.log(index)
					},
					btnFn(){
						if(this.current === ''){
							return
						}
						//console.log(this.chars[this.current])
						this.newList.push(this.chars[this.current]);
						this.current = '';
					},
					classObject(index){
						if(this.current === index){
							return 'active'
						}
						
					}
				},
				template:'<div>'+
				'<ul><li v-for="(item,index) in chars" :class="classObject(index)" @click="clickFn(index)">{{item}}</li></ul>'+
				'<button @click="btnFn">增加</button>'+
				'<ul><li v-for="item in newList">{{item}}</li></ul>'+
				'</div>'
			})
			new Vue({
				el:'#app',
				data:{}
			})
		</script>
		<style type="text/css">
			li{
				list-style: none;
			}
			.active{
				color:forestgreen
			}
		</style>
	</body>
</html>
